url = "/albums/:slug"
layout = layout
title = "Альбом"
==
function onStart()
{
    $this['album'] = \Fotius\Site\Models\Album::where('slug', $this->param('slug'))->first();
}

function onEnd()
{
    $this->page->title .= " | " . $this['album']['title'];
}
==
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    Галерея
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="/galery/home">
                            Галерея
                        </a>
                    </li>
                    <li class="active">
                        Фотографії
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--container start-->

<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-4 wow flipInY" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                    {% for photo in album.photos %}
                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-{{ loop.index - 1 }}">
                                <img src="{{ photo.path }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-8  wow flipInX">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    {% for photo in album.photos %}
                                        <div class="{% if loop.index == 1 %} active {% endif %} item" data-slide-number="{{ loop.index - 1 }}">
                                            <img src="{{ photo.path }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- Carousel nav -->
                                <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-icon glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-icon glyphicon glyphicon-chevron-right"></span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
        </div>
    </div>
</div>
