url = "/archive"
layout = layout
title = "Архів"

==
function onStart()
{
    $this['news'] = \Fotius\Site\Models\News::paginate(10);
}
==
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    {{ 'Архів'|_ }}
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="/news/home">
                            {{ 'Новини'|_ }}
                        </a>
                    </li>
                    <li class="active">
                        {{ 'Архів'|_ }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
    {% for item in news %}
        <div class="well wow fadeInUp">
            <div class="media">
                {% if item.photos.count > 0 %}
                  <a class="pull-left wow zoomIn" href="/news/{{ item.category }}/item/{{ item.slug }}">
                      <img class="media-object" src="{{ item.photos[0].path }}">
                  </a>
                {% endif %}

                <div class="media-body">
                    <h4 class="media-heading"><a href="#">{{ item.title }}</a></h4>

                    <p>{{ item.short_description|raw }}</p>

                    <p class="label label-primary pull-left">{{ item.created_at|date('d.m.Y') }}</p>

                    <p class="label label-primary pull-left otstup-left">{{ item.category|transInTemplate('news') }}</p>
                    <a href="/news/{{ item.category }}/item/{{ item.slug }}" class="pull-right btn btn-primary btn-sm">Читать</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="col-md-12 container">
    <div class="text-center">
        {{ news|raw }}
    </div>
</div>
