url = "/articles/:slug"
layout = layout
title = "Стаття"
==
function onStart()
{
    $this['article'] = \Fotius\Site\Models\Article::where('slug', $this->param('slug'))->first();
    $this['articles'] = \Fotius\Site\Models\Article::limit(3)->get();
    $this['tags'] = \Fotius\Site\Models\Tag::get();
}

function onEnd()
{
    $this->page->title .= " | " . $this['article']['title'];
}
==
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    {{ 'Публікації'|_ }}
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="/articles/home">
                            {{ 'Публікації'|_ }}
                        </a>
                    </li>
                    <li>
                        <a href="/articles">
                            {{ 'Статі'|_ }}
                        </a>
                    </li>
                    <li class="active">
                        {{ article.title }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
    <div class="row">
        <!--blog start-->
        <div class="col-lg-9">
            <div class="blog-item">
                <div class="row">
                    <div class="col-lg-2 col-sm-2">
                        <div class="date-wrap">
                          <span class="date">
                            {{ article.created_at|date('d') }}
                          </span>
                          <span class="month">
                            {{ article.created_at|date('F') }}
                          </span>
                        </div>
                    </div>
                    <div class="col-lg-10 col-sm-10">
                        <div class="blog-img gs">
                            <img src="{{ article.photo.path }}" alt="{{ article.title }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-2 text-right"></div>
                    <div class="col-lg-10 col-sm-10">
                        <h1>
                            {{ article.title }}
                        </h1>
                        {{ article.description|raw }}
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-3">
            <div class="blog-side-item">
                <div class="blog-post">
                    <h3>
                        {{ 'Останні публікації'|_ }}
                    </h3>
                    {% for article in articles|slice(0, 3) %}
                        <div class="media">
                            <a class="pull-left" href="/articles/{{ article.slug }}">
                                <img class=" " src="{{ article.photo.path }}" alt="" />
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    <a href="/articles/{{ article.slug }}">
                                        {{ article.title }}
                                    </a>
                                </h5>
                                <p>
                                    {{ article.short_description|raw }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="tags">
                    <h3>
                        {{ 'Теги'|_ }}
                    </h3>
                    <ul class="tag">
                        {% for tag in tags %}
                            <li>
                                <a href="/tags/{{ tag.slug }}">
                                    <i class="fa fa-tags pr-5"></i>
                                    {{ tag.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


