url = "/books"
layout = layout
title = "Книги"
==
function onStart()
{
    //TODO need add pagination
    $this['books'] = \Fotius\Site\Models\Book::orderBy('created_at', 'DESC')->limit(20)->get();
}
==
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    {{ 'Публікації'|_ }}
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="/articles/home">
                            {{ 'Публікації'|_ }}
                        </a>
                    </li>
                    <li class="active">
                        {{ 'Книги'|_ }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
    <div class="row">
        <div class="row">
            {% for book in books %}
                {% if (loop.index != 0) and ((loop.index % 2) == 0)  %}
                  </div>
                  <div class="row">
                {% endif %}
                <div class="col-sm-6 col-md-6 bt-bottom wow zoomIn">
                    <div class="col-sm-4 col-md-4">
                        <img src="{{ book.photo.path }}"
                             alt="" class="img-rounded img-responsive"/>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <blockquote>
                            <p>{{ book.author }}</p>
                            <small><cite title="Source Title">{{ book.name }}</cite></small>
                            <p>
                                {{ book.description }}
                            </p>
                        </blockquote>
                        <p>
                            <i class="glyphicon glyphicon-calendar"></i> {{ book.released_at|date('d.m.Y') }}
                            <br/><i class="glyphicon glyphicon-floppy-save"></i>
                            <a href="{{ book.link_to_book }}" class="label label-tema" target="_blank">{{ 'Скачать'|_ }}</a>
                        </p>
                    </div>
                </div>
            {% else %}
                <h3 class="text-center error-message">{{ 'На жаль, в даний момент не додана ні одна книга'|_ }}</h3>
            {% endfor %}
        </div>
    </div>
</div>
