url = "/"
layout = layout
title = "Головна"
==
function onStart()
{
    $this['slider'] = \Fotius\Site\Models\Slider::instance();
    $this['main'] = \Fotius\Site\Models\Link::where('category', 'main')->get();
    $this['news'] = \Fotius\Site\Models\Link::where('category', 'news')->get();
    $this['needKnow'] = \Fotius\Site\Models\Link::where('category', 'needKnow')->get();
    $this['partners'] = \Fotius\Site\Models\Partner::limit(15)->get();
}
==
<div class="home-slideshow">
    <div id="slider-wrap">
        <div id="slider">
            {% for photo in slider.photos %}
                <div class="slide">
                    <img src="{{ photo.path }}">
                </div>
            {% endfor %}
        </div>
        <div class="sli-links">
            {% for photo in slider.photos %}
                <span class="control-slide {% if loop.index == 1%} active {% endif %}">{{ loop.index - 1 }}</span>
            {% endfor %}
        </div>
    </div>
</div>
<div class="slideshow-line-bottom"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="feature-box right-line left-line">
                <div class="col-lg-12 recent container">

                    {% for link in main %}
                        <div class="col-md-6 col-sm-6 text-center wow fadeInUp">
                            <div class="feature-box-heading">
                                <img src="{{ link.photo.path }}" class="img-circle" alt="" width="200" height="200">
                                <a href="{{ link.link }}">
                                    <h4>
                                        <b>{{ link.title }}</b>
                                    </h4>
                                </a>
                            </div>
                            <p class="text-center">
                                {{ link.description }}
                            </p>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-lg-12 recent container">
                    {% if partners.count > 0 %}
                        <h3 class="recent-work">
                            Посилання
                        </h3>
                        <div id="owl-demo" class="owl-carousel owl-theme wow fadeIn">
                            {% for partner in partners %}
                                <div class="item view view-tenth">
                                    <img src="{{ partner.photo.path }}" alt="{{ partner.title }}">
                                    <div class="mask">
                                        <a href="{{ partner.site }}" class="info" data-toggle="tooltip" data-placement="top" title="{{ partner.site }}">
                                            <i class="fa fa-link">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="col-md-4 col-sm-12 right-line ot-top">
            <div class="content-blocks">
                {% if news.length > 0 %}
                    <div class="blog-post wow fadeInRight animated">
                        <h3 class="text-center">
                            Актуально
                        </h3>
                        <div class="hr">
                            <span class="hr-inner"></span>
                        </div>

                        {% for item in news %}
                            <div class="media">
                                <a class="pull-left" href="{{ item.link }}">
                                    <img class=" " src="{{ item.photo.path }}" alt="">
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading text-center">
                                        <a href="{{ item.link }}">
                                            {{ item.title }}
                                        </a>
                                    </h5>
                                    <p>
                                        {{ item.description }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="content-blocks">
                {% if needKnow.length > 0 %}
                    <div class="blog-post wow fadeInRight animated">
                        <h3 class="text-center">
                            Потрібно знати
                        </h3>
                        <div class="hr">
                            <span class="hr-inner"></span>
                        </div>

                        {% for item in needKnow %}
                            <div class="media">
                                <a class="pull-left" href="{{ item.link }}">
                                    <img class=" " src="{{ item.photo.path }}" alt="">
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading text-center">
                                        <a href="{{ item.link }}">
                                            {{ item.title }}
                                        </a>
                                    </h5>
                                    <p>
                                        {{ item.description }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>