url = "/museum/:id"
layout = layout
title = "Віртуальний музей"
==
function onStart()
{
    $this['album'] = \Fotius\Site\Models\Museum::find($this->param("id"));
}

function onEnd()
{
    $this->page->title .= " | " . $this['album']['title'];
}
==
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    Альбом
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">
                            Галерея
                        </a>
                    </li>
                    <li>
                        <a href="/museum">
                            Віртуальний музей
                        </a>
                    </li>
                    <li class="active">
                        {{ album.title }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
    <div class="row form-group">
    {% for image in album.photos %}
        <div class="col-xs-12 col-md-6 wow flipInY">
            <div class="panel panel-default shadow-conteiner">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ image.title }}</h3>
                </div>
                <div class="panel-image hide-panel-body">
                    <img src="{{ image.path }}" class="panel-image-preview" />
                    <label for="toggle-{{ loop.index }}"></label>
                </div>
                <input type="checkbox" style="display:none;" id="toggle-{{ loop.index }}" class="panel-image-toggle">
                <div class="panel-body">
                    <h4>{{ image.title }}</h4>
                    <p>{{ image.description }}</p>
                </div>
                <div class="panel-footer text-center">
                    <!--<a href="#facebook"><span class="fa fa-facebook"></span></a>-->
                    <!--<a href="#twitter"><span class="fa fa-twitter"></span></a>-->
                    <!--<a href="#share"><span class="fa fa-vk"></span></a>-->
                </div>
            </div>
        </div>

        {% if (loop.index % 2) == 0 %}
            </div>
            <div class="row form-group">
        {% endif %}
    {% endfor %}
    </div>

    <!--<div class="row">-->
        <!--{% for image in album.photos %}-->
            <!--<div class="col-md-6">-->
                <!--<div class="blog-left wow fadeInLeft">-->
                    <!--<div class="blog-img">-->
                        <!--<img src="{{ image.path }}" alt=""/>-->
                    <!--</div>-->
                    <!--<div class="blog-content">-->
                        <!--<h3>-->
                            <!--{{ image.title }}-->
                        <!--</h3>-->
                        <!--<p>-->
                            <!--{{ image.description }}-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--{% endfor %}-->
        <!--&lt;!&ndash;blog end&ndash;&gt;-->
    <!--</div>-->
</div>