url = "/news/home"
layout = layout
title = "Новини - Домашня сторінка"
==
function onStart()
{
    $this['annotations'] = \Fotius\Site\Models\Annotation::where('type', 'news')->get();
}
==

<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    {{ 'Новини'|_ }}
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="/news/home">
                            {{ 'Новини'|_ }}
                        </a>
                    </li>
                    <li class="active">
                        {{ 'Головна'|_ }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
    <div class="row">
        <div class="row">
        {% for annotation in annotations %}
          {% if ((loop.index % 2) == 1) and (loop.index != 1) %}
          </div>
          <div class="row">
          {% endif %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="box">
                    <div class="box-icon">
                      {% if annotation.use_icon %}
                        <span class="fa fa-4x {{ annotation.icon }}"></span>
                      {% else %}
                        <img src="{{ annotation.image.path }}" alt="{{ annotation.title }}" />
                      {% endif %}
                    </div>
                    <div class="info">
                        <h4 class="text-center">{{ annotation.title }}</h4>
                        {{ annotation.description }}
                        <a href="{{ annotation.link }}" class="btn">{{ 'Перейти'|_ }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
