url = "/news/:category"
layout = layout
title = "Новини"
==
function onStart()
{
    switch ($this->param('category')) {
        case "training": {
            $this['category'] = 'Тренинг';
        }
            break;

        case "ad": {
            $this['category'] = 'Оголошення';
        }
            break;

        case "charity": {
            $this['category'] = 'Благодійність';
        }
            break;

        case "сhronograph": {
            $this['category'] = 'Хронограф';
        }
            break;

        case "educationalActivities": {
            $this['category'] = 'Просвітницька діяльність';
        }
            break;

        default: {
            throw new Exception('Такой сторінки не існує');
        }
    }

    $this['news'] = \Fotius\Site\Models\News::where('category', $this->param('category'))->paginate(10);
}

==
<!--header end-->

<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    {{ 'Новини'|_ }}
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">
                            {{ 'Новини'|_ }}
                        </a>
                    </li>
                    <li class="active">
                        {{ category }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
    <div class="row">

        {% for item in news %}
            <div class="col-md-6">
                <div class="blog-left wow fadeInLeft">
                    {% if item.photos.count > 0 %}
                      <div class="blog-img">
                          <img src="{{ item.photos[0].path }}" alt=""/>
                      </div>
                    {% endif %}
                    <div class="blog-content">
                        <h3>
                            {{ item.title }}
                        </h3>
                        <p>
                            {{ item.short_description|raw }}
                        </p>
                    </div>
                    <a href="/news/{{ item.category }}/item/{{ item.slug }}" class="btn btn-primary">Читати</a>
                </div>
            </div>
        {% else %}
            <h3>{{ 'На жаль, в даний момент не додано ні одного запису'|_ }}</h3>
        {% endfor %}
        <!--blog end-->
    </div>

    <div class="text-center col-md-12">
        {{ news|raw }}
    </div>
</div>
