url = "/news/:category/item/:slug"
layout = layout
title = "Новина"
==
function onStart()
{
    switch ($this->param('category')) {
        case "training": {
            $this['category'] = 'Тренинг';
        }
            break;

        case "ad": {
            $this['category'] = 'Оголошення';
        }
            break;

        case "charity": {
            $this['category'] = 'Благодійність';
        }
            break;

        case "сhronograph": {
            $this['category'] = 'Хронограф';
        }
            break;

        case "educationalActivities": {
            $this['category'] = 'Просвітницька діяльність';
        }
            break;

        default: {
            throw new Exception('Такой сторінки не існує');
        }
    }

    $this['item'] = \Fotius\Site\Models\News::where('slug', $this->param('slug'))->first();
}


function onEnd()
{
    $this->page->title .= " | " . $this['item']['title'];
}
==
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    {{ 'Опис новини'|_ }}
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">
                            {{ 'Новина'|_ }}
                        </a>
                    </li>
                    <li>
                        <a href="/news/{{ item.category }}">
                            {{ category }}
                        </a>
                    </li>
                    <li class="active">
                        {{ item.title }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->
<div class="container">
    <div class="row">
        <!--blog start-->
        <div class="col-lg-10">
            <div class="blog-item">
                <div class="row">
                    <div class="col-lg-2 col-sm-2">
                        <div class="date-wrap">
                            <span class="date">
                              {{ item.created_at|date('d') }}
                            </span>
                            <span class="month">
                              {{ item.created_at|date('m')|transInTemplate('months') }}
                            </span>
                        </div>

                    </div>
                    {% if item.photos.count > 0 %}
                      <div class="col-lg-10 col-sm-10">
                        <div class="blog-img gs">
                            <div id="myCarousel" class="carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    {% for item in item.photos %}
                                        <div class="{% if loop.index == 1 %} active {% endif %} item">
                                            <img src="{{ item.path }}" alt="">
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                    <i class="fa fa-angle-left">
                                    </i>
                                </a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                    <i class="fa fa-angle-right">
                                    </i>
                                </a>
                            </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 150px">
                      </div>
                    {% endif %}
                    <div class="col-lg-10 col-sm-10 text-margin">
                        <h1>
                            {{ item.title }}
                        </h1>
                        {{ item.description|raw }}
                    </div>
                    <div class="col-lg-10 col-sm-10">
                        <div class="ya-share2" data-title="{{ item.title }}" data-desciption="{{ item.description|raw }}" {% if item.photos.length > 0 %} data-image="{{ item.photos[0].path }}" {% endif %} data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
