url = "/tags/:slug"
layout = layout
==
function onStart()
{
    $tag = \Fotius\Site\Models\Tag::where('slug', $this->param('slug'))->first();
    $this['articles'] = $tag->articles()->paginate(10);
    $this['tags'] = \Fotius\Site\Models\Tag::orderBy('id', 'DESC')->get();
}
==
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    Публікації
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">
                            Публікації
                        </a>
                    </li>
                    <li class="active">
                        Статі
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="container">
    <div class="row">
        <!--blog start-->
        <div class="col-lg-9 ">
            {% for article in articles %}
                <div class="blog-item wow bounceInUp">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <div class="date-wrap">
                              <span class="date">
                                {{ article.created_at|date('d') }}
                              </span>
                              <span class="month">
                                {{ article.created_at|date('F') }}
                              </span>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <div class="blog-img">
                                <img src="{{ article.photo.path }}" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-2 text-right"></div>
                        <div class="col-lg-10 col-sm-10">
                            <h1>
                                {{ article.title }}
                            </h1>
                            {{ article.short_description|raw }}
                            <a href="/articles/{{ article.slug }}" class="btn btn-primary">
                                Читать
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="text-center">
                {{ articles|raw }}
            </div>

        </div>

        <div class="col-lg-3">
            <div class="blog-side-item">
                <!--<div class="search-row">-->
                    <!--<input type="text" class="form-control" placeholder="Search here">-->
                <!--</div>-->

                <div class="blog-post">
                    <h3>
                        Останні публікації
                    </h3>

                    {% for article in articles|slice(0, 3) %}
                        <div class="media">
                            <a class="pull-left" href="/articles/{{ article.slug }}">
                                <img class=" " src="{{ article.photo.path }}" alt="" />
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    <a href="/articles/{{ article.slug }}">
                                        {{ article.title }}
                                    </a>
                                </h5>
                                <p>
                                    {{ article.short_description|raw }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="tags">
                    <h3>
                        Теги
                    </h3>
                    <ul class="tag">
                        {% for tag in tags %}
                            <li>
                                <a href="/tags/{{ tag.slug }}">
                                    <i class="fa fa-tags pr-5"></i>
                                    {{ tag.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!--<div class="archive">-->
                    <!--<h3>-->
                        <!--Архив-->
                    <!--</h3>-->
                    <!--<ul class="list-unstyled">-->
                        <!--<li>-->
                            <!--<a href="javascript:;">-->
                                <!--<i class="fa fa-angle-double-right pr-10">-->
                                <!--</i>-->
                                <!--May 2014-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;">-->
                                <!--<i class="fa fa-angle-double-right pr-10">-->
                                <!--</i>-->
                                <!--April 2014-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;">-->
                                <!--<i class="fa fa-angle-double-right pr-10">-->
                                <!--</i>-->
                                <!--March 2014-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;">-->
                                <!--<i class="fa fa-angle-double-right pr-10">-->
                                <!--</i>-->
                                <!--February 2014-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;">-->
                                <!--<i class="fa fa-angle-double-right pr-10">-->
                                <!--</i>-->
                                <!--January 2014-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->


            </div>
        </div>

        <!--blog end-->
    </div>

</div>