==
function onStart()
{
    $this['socials'] = \Fotius\Site\Models\Social::instance();
    $this['settings'] = \Fotius\Site\Models\Contact::instance();
}
==
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                <h1>
                    {{ "Контакти"|_ }}
                </h1>
                <address>
                    {% if contact.address %}
                        <p><i class="fa fa-home pr-10"></i>{{ "Адреса:"|_ }} {{ contact.address }}</p>
                    {% endif %}

                    {% if contact.phone1 %}
                        <p><i class="fa fa-phone pr-10"></i>{{ "Номер 1:"|_ }} {{ contact.phone1 }}</p>
                    {% endif %}

                    {% if contact.phone2 %}
                        <p><i class="fa fa-phone pr-10"></i>{{ "Номер 2:"|_ }} {{ contact.phone2 }}</p>
                    {% endif %}
                    {% if contact.email %}
                        <p><i class="fa fa-envelope pr-10"></i>{{ "Email:"|_ }} <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                    {% endif %}
                </address>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                    <h1>
                        {{ "Наша организація"|_ }}
                    </h1>
                    <ul class="page-footer-list">
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="/about/home">{{ "Про нас"|_ }}</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="/news/home">{{ "Новини"|_ }}</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="/projects/home">{{ "Проекти"|_ }}</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="/articles/home">{{ "Публікації"|_ }}</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="/galery/home">{{ "Галерея"|_ }}</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="/partners">{{ "Партнери"|_ }}</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="/contacts">{{ "Контакти"|_ }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
<!--small footer start -->
<footer class="footer-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 pull-right">
                <ul class="social-link-footer list-unstyled">
                    {% if socials.fb %}
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s"><a href="{{ socials.fb }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}

                    {% if socials.twitter %}
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".2s"><a href="{{ socials.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}

                    {% if socials.vk %}
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".3s"><a href="{{ socials.vk }}" target="_blank"><i class="fa fa-vk"></i></a></li>
                    {% endif %}

                    {% if socials.gplus %}
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".4s"><a href="{{ socials.gplus }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    {% endif %}

                    {% if socials.youtube %}
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".5s"><a href="{{ socials.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-md-4">
                <div class="copyright">
                    <p>{{ settings.copyright }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
