==
==
<div class="language">
    <a href="#" title="UA" data-request="localePicker::onSwitchLocale" data-request-data="locale: 'ua'" class="language-flag"><img  src="{{ 'assets/image/ua.png'|theme }}" alt="" width="18" height="12"></a>
    <a href="#" title="RU" data-request="localePicker::onSwitchLocale" data-request-data="locale: 'ru'" class="language-flag"><img  src="{{ 'assets/image/ru.png'|theme }}" alt="" width="18" height="12"></a>
    <span class="language-text">Мова</span>
</div>

<header class="head-section">
    <div class="navbar navbar-default navbar-static-top container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">L<span>ogo</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Головна</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-hover="dropdown" href="/about/home">Про центр <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/history">Істория</a>
                        </li>
                        <li>
                            <a href="/structure">Структура</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-hover="dropdown" href="/news/home">Новини <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/news/training">Тренінги</a>
                        </li>
                        <li>
                            <a href="/news/ad">Оголошення</a>
                        </li>
                        <li>
                            <a href="/news/charity">Благодійність</a>
                        </li>
                        <li>
                            <a href="/archive">Архів</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-hover="dropdown" href="/projects/home">Проекти <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/projects/conferentions">Конференції</a>
                        </li>
                        <li>
                            <a href="/projects/exploration">Дослідження</a>
                        </li>
                        <li>
                            <a href="/projects/internships">Стажування</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-hover="dropdown" href="/projects/home">Публікації <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/articles">Статі</a>
                        </li>
                        <li>
                            <a href="/books">Книги</a>
                        </li>
                        <li>
                            <a href="/bibliographies">Бібліографія</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-hover="dropdown" href="/articles/home">Галерея <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/announcements">Анонси</a>
                        </li>
                        <li>
                            <a href="/albums">Фотографії</a>
                        </li>
                        <li>
                            <a href="/museum">Віртуальний музей</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/partners">
                        Партнери
                    </a>
                </li>
                <li>
                    <a href="/contacts">Контакти</a>
                </li>
                <li>
                    <input class="form-control search" placeholder=" Search" type="text">
                </li>
            </ul>
        </div>
    </div>
</header>